body{
    width: 1024px;
}

/* Header */
#head{
    height: 150px;
    background-image: url(../img/pattern.png);
}

#logo{
    max-height: 100px;
}

/* Main */

article{
    margin-bottom: 1rem;
}
h1{
    margin: 0;
}
#booleaner{
    color: rgba(32, 169, 229, 1);
}

.picdes{
    font-style: italic;
    font-size: 12px;
    display: block;
}

.highlighted{
    background-color: yellow;

}

/* Table */

#th{
    width: 50%;
}

th{
    text-align: start;
}

.trow{
    background-color: rgba(177, 229, 242, 1);
}

#trow{
    background-color: rgba(32, 169, 229, 1);
    color: white;
}


/* Footer */
