body{
    width: 1024px;
}

/* Header */
#head{
    height: 120px;
    background-image: url(../img/pattern.png);
    background-color: rgba(78, 160, 255, 1);
    background-size: 50%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

#logo{
    height: 80px;

}

/* Main */

article{
    margin-bottom: 1rem;
}

h1{
    margin: 0;
}

#booleaner{
    color: rgba(32, 169, 229, 1);
}

.picdes{
    font-style: italic;
    font-size: 12px;
    display: block;
}

.highlighted{
    background-color: yellow;

}

.ul{
    text-align: start;
}

/* Table */

#th{
    width: 50%;
}

th{
    text-align: start;
}

.trow{
    background-color: rgba(177, 229, 242, 1);
}

#trow{
    background-color: rgba(32, 169, 229, 1);
    color: white;
}


/* Footer */

#foot{
    color: rgba(128, 128, 128, 1);
    font-weight: bold;
}


.imgtext{
    text-align: start;
}

.imgcontainer{
    height: 150px;
    width: 200px;
    background-image: url(../img/monitor.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 8px;
    margin-top: 4px;
}

.imgtext{
    color: white;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 10px;
   
}

.imgcontainer2{
    height: 150px;
    width: 200px;
    background-image: url(../img/graph.jpg);
    background-size: cover;
    background-position: center;
}